@use '../../assets/variables.scss';

.skillset-wrapper {
  background-color: variables.$secondary-color;
}

.skillset-bar-wrapper {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/* Pour téléphone */
@media (max-width: 530px) {
  /* styles pour le téléphone */
}
