@use '../../assets/variables.scss';

.navbar {
  text-transform: uppercase;
  padding: 20px 0;
  background-color: variables.$primary-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5%;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    padding-right: 8%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;

    &-item {
      font-size: 16px;
      font-weight: 600;
    }
  }

  /* Bouton hamburger caché par défaut */
  &__toggle {
    display: none;
    font-size: 1.8rem;
    color: black;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 1100;

    &.open {
      transform: rotate(90deg);
    }
  }
}

.hide {
  display: none !important;
}

.animation-title {
  animation: pulse 1s ease-in-out 3;
  padding: 0 !important;
}

/* Version tablette */
@media (max-width: 1400px) {
  .navbar {
    &__container {
      margin: 0 1%;
    }
    &__title {
      padding-right: 5%;
    }
    &__menu {
      gap: 20px;
    }
  }
}

/* Version mobile */
@media (max-width: 930px) {
  .navbar {
    &__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 5%;
    }
    &__toggle {
      display: block;
      margin-right: 5%;
    }
    &__menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: variables.$primary-color;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding: 20px 0 20px 14%;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
    }

    &__menu.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes pulse {
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
}
