@use '../../assets/variables.scss';

.wrapper {
  background-color: variables.$primary-color;
  margin: 0px 15%;
  &__projects {
    display: flex;
    flex-direction: column;
    gap: 250px;
    margin-top: 100px;
  }
}

/* Pour tablette */
@media (max-width: 1400px) {
  /* styles pour la tablette */
  .wrapper {
    margin: 0px 10%;
    &__projects {
      gap: 150px;
    }
  }
}

/* Pour téléphone */
@media (max-width: 768px) {
  /* styles pour le téléphone */
  .wrapper {
    &__projects {
    }
  }
}
