@use '../../assets/variables.scss';

.footer {
  background-color: variables.$secondary-color;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    gap: 30px;
    & p {
      font-weight: 700;
    }
    &__icones {
      display: flex;
      gap: 5px;
      transform: scale(2.5);
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      & a:hover {
        text-decoration: underline;
      }
    }
  }
}

.grey {
  background-color: variables.$secondary-color !important;
}

/* Pour petit téléphone */
@media (max-width: 530px) {
  /* styles pour le téléphone */
  .footer {
    background-color: variables.$primary-color;
    &__container {
      & p {
        font-size: 12px;
      }
      &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
