.intro-wrapper {
  background-color: #f5f5f5;
  height: 500px;
  padding: 60px 0;
  margin-right: 15%;
  &--relative {
  }
  &__block {
    padding: 5% 0;
    &__text {
      color: black;
      line-height: 1.6;
      font-size: 18px;
      padding: 0 20%;
    }
  }
}
.title-wrapper {
  position: relative;

  &__title {
    text-align: center;
    font-size: 38px;
    position: relative;
    z-index: 2;
  }

  &__title--see-through {
    width: 100%;
    color: wheat;
    text-align: center;
    font-size: 110px;
    letter-spacing: 2px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
