@use '../../assets/variables';

.intro {
  background-color: variables.$secondary-color;
  margin-top: 60px;

  &__presentation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__block {
      &__text {
        color: variables.$text-color;
        line-height: 1.6;
        font-size: 24px;
        padding: 0 20%;
        text-align: center;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
}
