@use '../../assets/variables';

.title-container {
  padding: 3% 0 10% 0;
  &__title {
    text-align: center;
    font-size: 58px;
    position: relative;
    z-index: 2;
  }

  &__title--see-through {
    width: 100%;
    color: variables.$background-color;
    text-align: center;
    font-size: 180px;
    letter-spacing: 4px;
    opacity: 0.3;
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

/* Pour tablette */
@media (max-width: 1400px) {
  /* styles pour la tablette */
  .title-container {
    padding: 3% 3% 5% 3%;
    &__title {
      font-size: 48px;
    }

    &__title--see-through {
      font-size: 120px;
      letter-spacing: 2px;
    }
  }
}

/* Pour téléphone */
@media (max-width: 768px) {
  /* styles pour le téléphone */
  .title-container {
    &__title {
    }

    &__title--see-through {
    }
  }
}
