@use '../../assets/variables.scss';

.contact {
  background-color: variables.$primary-color;

  padding: 120px 0 0 0;
}

/* Pour tablette */
@media (max-width: 1400px) {
  /* styles pour la tablette */
  .contact {
    padding: 80px 0 0 0;
  }
}

/* Pour petit téléphone */
@media (max-width: 530px) {
  /* styles pour le téléphone */
  .contact {
    background-color: variables.$secondary-color;
  }
}
