.progress-bar {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &__filler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    border-radius: 8px;
    transition: width 2s ease-in-out;
  }
  &__icon {
    transform: scale(1.5);
    position: absolute;
    right: -8%;
    bottom: -30%;
  }

  &--special .progress-bar__filler {
    background-color: #ff9800;
  }

  &--active .progress-bar__filler {
    width: 100%;
  }

  &--special.progress-bar--active .progress-bar__filler {
    width: 85%;
  }
}

/* Pour petit téléphone */
@media (max-width: 530px) {
  /* styles pour le téléphone */
  .progress-bar {
    width: 80%;
  }
}
